@import '~bootstrap/scss/bootstrap-utilities';

.report_title {
  margin-right: 2rem;
}

.nav_link_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;

  .nav_link {
    white-space: nowrap;
    text-decoration: none;
    background-color: white;
    padding: 8px 12px;
    border-radius: 40px;
    color: $success;
    border: 1px solid $success;
  }
}
