@import '~bootstrap/scss/bootstrap-utilities';

.sign_in_page {
  .container {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .sign_in_msg {
    padding: 4px 8px;
    margin-top: 16px;
  }
}
